<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>课程安排-自动排课</title>
<script src="js/jquery.js"></script>
<link href="/static/css/font-awesome.css" rel="stylesheet">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/style-responsive.css" rel="stylesheet">
<link href="/static/css/default-theme.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/bootstrap-reset.css" rel="stylesheet">
</head>
<body class="sticky-header">
<section>
  <div class="sidebar-left">
    <div class="sidebar-left-info">
      <div class=" search-field"> </div>
      <ul class="nav nav-pills nav-stacked side-navigation">
        <li class="menu-list nav-active"> <a href="/mgr/initialautoarrange"> <i class="glyphicon glyphicon-th-list"> </i><span>自动排课</span></a>
          <ul class="child-list">
            <li class="active"><a href="/mgr/initialautoarrange">自动排课</a></li>
          </ul>
        </li>
        <li class="menu-list "> <a href="/mgr/initialmodifylesson"> <i class="glyphicon glyphicon-edit"> </i><span> 手动课程调整</span></a>
          <ul class="child-list">
            <li><a href="/mgr/initialmodifylesson">手动课程调整</a></li>
          </ul>
        </li>
        <li class="menu-list"><a href="/mgr/initialaddclassroom"> <i class="glyphicon glyphicon-erase"></i><span> 教学资源管理</span></a>
          <ul class="child-list">
            <li><a href="/mgr/initialaddclassroom">添加教室信息</a></li>
            <li><a href="/mgr/initialmodifyclassroom">修改教室信息</a></li>
          </ul>
        </li>
        <li class="menu-list"><a href="/mgr/initialquerylesson"> <i class="glyphicon glyphicon-search"></i><span> 排课结果查询</span></a>
          <ul class="child-list">
            <li><a href="/mgr/initialquerylesson">查询教师课表</a></li>
            <li><a href="/mgr/initialqueryclassroom">查询教室课表</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="body-content" >
    <div class="header-section">
      <div class="logo dark-logo-bg"> <a href="自动排课.html"> <i class="glyphicon glyphicon-list-alt" ></i>
        <!--<i class="fa fa-maxcdn"></i>--> 
        <span class="brand-name" style="font-size: 16px; font-weight: bold;">课程安排子系统</span> </a> </div>
      <div class="icon-logo dark-logo-bg hidden-xs hidden-sm"> <a href="自动排课.html"><i class="glyphicon glyphicon-list-alt" alt=""></i> </a> </div>
      <a class="toggle-btn"><i class="fa fa-outdent"></i></a>
      <div class="kouhao">课程安排</div>
      <div class="notification-wrap">
        <div class="right-notification">
          <ul class="notification-menu">
              <li><a href="#" class="btn btn-default dropdown-toggle">返回首页</a></li>
            <li  class="dropdown">
              <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false"> <i class="fa  fa-cogs"></i> 账号设置  <b class=" fa fa-angle-down"></b></a>
              <ul role="menu" class="dropdown-menu language-switch">
                <li>
                  <a  href="修改密码.html">修改密码</a>
                </li>
              </ul>
            </li>
            <li> <a href="javascript:;" class="btn btn-default  dropdown-toggle"> <i class="fa fa-sign-out"></i>退出登录 </a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="page-head">
      <ol class="breadcrumb">
        <li><a href="#">自动排课</a></li>
        <li  class="active">自动排课</li>
      </ol>
      <h3>自动排课</h3>
    </div>
    <div class="col-md-3"></div>
    <form role="form" class="col-md-6" action="#" method="POST" >
      <div class="panel panel_default">
        <div class="panel-body text-center">
          <strong>请选择学年</strong>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <input class="form-control" size="16" type="number" value="" name="year">
          </div>
        </div>
      </div>
        <div class="panel panel_default">
            <div class="panel-heading text-center">
                <strong>请选择课程安排日期</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="input-group date form_datetime col-md-5">起始日期</label>
                    <div class="input-group date form_date col-md-12" data-date-format="yyyy-mm-dd"
                        data-link-field="dtp_input1">
                        <input class="form-control" size="16" type="text" value="" name="start" readonly>
                        <span class="input-group-addon"><span
                                class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input1" value="" /><br />
                </div>
                <div class="form-group">
                    <label class="input-group date form_datetime col-md-5">结束日期</label>
                    <div class="input-group date form_date col-md-12" data-date-format="yyyy-mm-dd"
                        data-link-field="dtp_input2">
                        <input class="form-control" size="16" type="text" value="" name="end" readonly>
                        <span class="input-group-addon"><span
                                class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input2" value="" /><br />
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary btn-block">
        </div>
    </form>
  </div>
</section>

<script src="js/bootstrap.js"></script> 
<script src="js/echarts.min.js"></script> 
<script src="js/scripts.js"></script> 
<script src="laydate/laydate.js"></script> 
<script src="bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<link href="bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        format: 'yyyy-mm-dd',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_date').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>
</body>
</html>
